body{
  background: url( "http://carpefactum.typepad.com/photos/uncategorized/2007/07/27/tworoads.jpg");
 background-size: cover;
  background-repeat: no-repeat;
  Font-Family: Times New Roman; 
  Color: #753A0
}

.bat{
  margin-top:700px;
}